Flask>=2.2
Flask-SQLAlchemy>=2.5
Flask-Login>=0.6
Flask-Migrate>=4.0
Flask-WTF==1.2.1
flask-bcrypt>=1.0

SQLAlchemy>=1.4
Werkzeug>=2.2
itsdangerous>=2.1

mysql-connector-python>=8.0
python-dotenv>=0.21

email-validator>=2.0       
pymysql>=1.1.2
pytz>=2025.2
itsdangerous>=2.1
email-validator>=2.0
pymysql>=1.1.2
python-dotenv>=0.21
Flask-Mail>=0.10
